@use "../../../variables" as *;

app-button {
  font-size: 0.8rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  mix-blend-mode: normal;
  background-color: $accent;
}
