<div class="pyramidGreen spacer">
  <div class="modeSelectorCont">
    <div class="mediumComp">
      <h1>Mode&nbsp;:&nbsp;{{ TimeSInkService.Mode() }}</h1>
      <app-button
        (click)="TimeSInkService.changeMode()"
        [isDisabled]="false"
        tmpLbl="Change mode"
        type="funcBtn"
      ></app-button>
    </div>
  </div>

  <div class="contBg">
    <div class="container">
      <app-session-setup></app-session-setup>
    </div>
    <div class="container">
      <app-time-box></app-time-box>
    </div>
  </div>

  <h3>Sessions completed : {{ TimeSInkService.sessionCounter() }}</h3>
</div>

<section></section>
