<nav>

  <!--  <ul>-->
  <!--    <li>AAA</li>-->
  <!--    <li>BBB</li>-->
  <!--    <li>CCC</li>-->
  <!--  </ul>-->
  <!--    <app-button tmpLbl="Home"></app-button>-->
  <!--    <app-button tmpLbl="Pomodoro"></app-button>-->
  <!--    <app-button tmpLbl="BALSAS"></app-button>-->
  <!--    <app-button tmpLbl="RORI" route="CustomRoute"></app-button>-->

  <ul>
    <li>
      <app-button tmpLbl="Home" type="routingBtn"></app-button>
    </li>
    <li>
      <app-button tmpLbl="Pomodoro" type="routingBtn"></app-button>
    </li>
    <!--    <li><app-button type="funcBtn" tmpLbl="DoSomething"></app-button></li>-->
  </ul>
</nav>
