/* You can add global styles to this file, and also import other style files */
@use "variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

app-timer{
  header{
    background-color: $primary;
    transition: 1s;
    height: 5vw;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    transition: 1s;

  }
}
.sticky {
  top:-15rem;
  margin-top: 15rem;
  position: fixed;
  z-index: 200;
  width: 100%;
  transition: margin-top 1s;
}
.notSticky{
 // margin-top: 4rem;
  top: -15rem;
  transition: 1s;
  position: fixed;
  z-index: 11;
  width: 100%;
}

.spacer{
  aspect-ratio: 1920/1080;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.smallContainerPrim{
  background-color: $primary;
  color: $text;
  width: 100%;
  font-size: 3rem;

}

.flip{
  transform: rotate(180deg);
}
.spacer1{
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pyramidGreen{
  background-image: url("./background.svg");

}

.layer1{
  background-image: url("./layer1.svg");

}

.layer2{
  background-image: url("./layer2.svg");
}
.layer3{
  background-image: url("./layer3.svg");
}
.layer4{
  background-image: url("./layer4.svg");
}

//.button {
//  box-shadow: inset 0 1px 0 0 #ffffff;
//  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
//  border-radius: 6px;
//  border: 1px solid #dcdcdc;
//  display: inline-block;
//  cursor: pointer;
//  color: #666666;
//  font-family: Arial, sans-serif;
//  font-size: 15px;
//  font-weight: bold;
//  padding: 6px 24px;
//  text-decoration: none;
//  text-shadow: 0 1px 0 #ffffff;
//  outline: 0;
//}
//.activebutton {
//  box-shadow: inset 0 1px 0 0 #dcecfb;
//  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
//  border: 1px solid #84bbf3;
//  color: #ffffff;
//  text-shadow: 0 1px 0 #528ecc;
//}
text{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
h1{
  font-family: "Code Light", serif;
  letter-spacing: 0.2rem;
}
app-header{

  header{
    top: 0;
    margin: 0;
    background-color: $background;

  }
  hr{
    border: 2px solid $redGrey;
  }
}
app-button{

  .btn{
  //box-shadow: inset 0px 0px 15px 3px rgba(0,0,0,0.21);
    background-color: $accent;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    border-radius: 0.1rem;
    user-select: none;
    font-size: 2em;
    position: relative;
    justify-content: center;
    display: flex;
    padding: 1.1em 1em;
    letter-spacing: 0.35rem;
    border: solid 4px transparent;
    border-image: $gradient2;
    border-image-slice: 15 5%;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color:$text;

    transition: 0.25s;
  }


  .btn:hover{
    user-select: none;
    cursor: pointer;
    //color: $background;
    background-color: $background;
    background-image: $gradient;

    box-shadow:  0px 0px 15px 11px rgba(0,0,0,0.1);
    border-image: $gradient3;
    border-image-slice: 15 5%;
    transition: 0.124s;
  }
  .btn:active{
    color: $primary;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    //transition-delay: 100ms;
    scale: 102%;
    transition: 0.1s 0s;
    -webkit-text-fill-color: $primary;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: $accent;
  }
  .btnActive{
    // box-shadow: inset 0px 1px 53px 5px rgba(255,255,255,0.62);
    // background: $gradient;
    //background-color: $accent;
    //border-image: $mainBG2;
    //border-image-slice: 15 5%;
    // color:$background;
    font-size: 2rem;
    background-image: $gradient;
    border-image: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    border-image-slice: 1;
    transition: 300ms;


    // transition-delay: 100ms;
  } .btnActive:hover{
      // box-shadow: inset 0px 1px 53px 5px rgba(255,255,255,0.62);
      border-image: $gradient;
      border-image-slice: 15 5%;
      // background: $gradient;
      //background-color: $accent;
      //border-image: $mainBG2;
      //border-image-slice: 15 5%;
      // color:$background;
      transition: 300ms;
      color: $accent;
      // transition-delay: 100ms;
    }
  .navButt{


  }
  .funkyButt{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    border-radius: 0.1rem;
    user-select: none;
    font-size: 1.2em;
    position: relative;
    justify-content: center;
    display: flex;
    padding: 1.1em 1em;
    letter-spacing: 0.35rem;
    border: solid 4px transparent;
  //  background-color: $accent;
    border-image: $gradient;
    border-image-slice: 15 5%;
    background: $accent $mainBG2;
    //-webkit-background-clip: text;
   // background-clip: text;
    background: $gradient;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: $primary;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: $accent;
    transition: 300ms 0ms;

  }
  .funkyButt:hover{
    background-image: $mainBG2;
    box-shadow:  0px 0px 15px 11px rgba(0,0,0,0.1);

    border-image: $gradient;
    border-image-slice: 15 20% 15;
  //  color: $background;

    -webkit-background-clip: content;
    background-clip: revert;

    transition: 100ms 0s;
  }
  .funkyButt:active{
    box-shadow:  0px 0px 15px 11px rgba(0,0,0,0.1);
    background-image: $gradient;
    border-image: $mainBG2;
    border-image-slice: 10 5%;
    //  color: $background;
    -webkit-background-clip: border;
    background-clip: border-box;
    -webkit-text-fill-color: $primary;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: $primary;
    transition: 100ms;

  }

.greyed{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0rem;
  -webkit-text-stroke-color: transparent;
  background-image: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
}
  .greyed:hover{
    -webkit-text-fill-color: $primary;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: $accent;
    background-image: $mainBG2;
    transition: all 300ms ease-in-out;
  }
  .btn-grad {

  }

  .btn-grad:hover {
    //background-position: right center; /* change the direction of the change here */
    //color: #fff;
    //text-decoration: none;
  }
}

input{
  user-select: none;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: $text;
  background-color: transparent;
  border: 2px solid $accent;
  border-radius: 25px;
  transition: 300ms;
  padding: 0 2rem;
  width: 2rem;
  cursor: pointer;

}
input:hover{
  border-color: $text;
  background-color: $primary;
  color: $accent;
}
input:focus{
  user-select: none;
  color: $text;
  background-color:$primary;
  outline: none;
  border: 2px solid $text;
}
input:disabled{
  user-select: none;
  color: $accent;
  border-color: $accent;
  background-color: $primary;


}
input:disabled:hover{
  color: $background;
  border-color: $background;
  user-select: none;
}

html{
  //background-color: $background;
  //background-blend-mode: color-dodge;
  min-height: 100%;
  aspect-ratio: 1920/1080;
  width: 100vw;
  font-size: 1.2rem;
  //background-image: url("./background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body{
 // background-color: rgba(0, 0, 0, 0.42);
  //mix-blend-mode:overlay;
  min-height: 99%;
  margin: 0;
  width: 100vw;
  font-family: "Source Code Pro", sans-serif;
  font-weight: bold;
  color: $text;
  //background-color: $background;
  background: $mainBG fixed;
  text-align: center;
  justify-content: center;
}
app-home{
  height: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  //font-size: 2rem;
  width: 100vw;
  section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 100px 20vw;

  }
.scale50{
  scale: 50%;
}
}
app-time-box{

}
app-pomodoro{
  display: flex;
  justify-content: center;

}


.mainCont{
  background-image: $mainBG ;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  text-align: center;
  padding: 0.5rem;
  opacity: 100%;
  mix-blend-mode: lighten;
}
.contBg{
  display: flex;
  justify-content: center;
  margin: 2rem;
  //background-color: $primary;
  background-image: $mainBG ;
 //background-blend-mode: multiply;
  mix-blend-mode: lighten;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
  opacity: 100%;
  // background-clip: text;
}
.container{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  //color: $text;
  border-radius: 1rem;
  padding: 15px;
  width: fit-content;
  //background-color: $primary;
  //background-image: $gradient2;
  //mix-blend-mode: lighten;
  background-clip: text;

  // background-color: $primary;


  //background-image: $mainBG;
  // mix-blend-mode: darken;
  //background-blend-mode: hue;

}
