//$text: #ffffff;
//$background: #393234;
//$primary: #ffad29;
//$secondary: #212731;
//$secondary2: #2f3136;
//$accent: #ffd36b;
$text: #101010;
$background: #f9f9f9;
$primary: #d3f2ff;
$secondary: #1b2327;
$secondary2:#1c2428;
$accent: #4330cf;
$linearPrimarySecondary: linear-gradient(#d1f1ff, #1b2327);
$linearPrimaryAccent: linear-gradient(#d1f1ff, #4330cf);
$linearSecondaryAccent: linear-gradient(#1b2327, #4330cf);
$radialPrimarySecondary: radial-gradient(#d1f1ff, #1b2327);
$radialPrimaryAccent: radial-gradient(#d1f1ff, #4330cf);
$radialSecondaryAccent: radial-gradient(#1b2327, #4330cf);

$mainBG2: linear-gradient(to top, #757575 0%, #dadada 100%);
$mainBG: linear-gradient(to top, #dfe9f3 0%, white 100%);; //background-image:
$darkerBG: linear-gradient(to top, #09203f 0%, #537895 100%); //background-image:
$gradient: linear-gradient(45deg, $accent, $primary);

//$text: #212731;
//$background: #f8fafc;
//$primary: #3b3033;
//$secondary2:#1a1a1a;
//$secondary: #1a1a1a;
//$accent: #6f1b30;

$neutralGrey:#999999;
$blueGrey:#c9d9e8;
$redGrey:#ddd5d7;

$themes: (
  light: (
    text: #212731,
    background: #f8fafc,
    primary: #3b3033,
    secondary: #1a1a1a,
    accent: #6f1b30,
  ),
  dark: (
    text: #ced4de,
    background: #030507,
    primary: #cfc4c7,
    secondary: #e6e6e6,
    accent: #e490a5,
  ),
);
